.listOfItems {
    li {
        list-style-type: none;
        margin-top: 0.2rem;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 80%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        &__name,
        &__value {
            font-size: 0.75rem;
            padding: 0.2rem 0.2rem;
            border: 1px solid var(--bs-border-color);
        }
        &__name {
            width: 64.5%;
            color: var(--bs-primary);
        }
        &__value {
            width: 35.5%;
            color: var(--bs-secondary-color);
        }
    }
    &__tittles {
        width: 80%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        &__name,
        &__value {
            padding: 0.5rem;
            color: var(--bs-secondary-color);
            font-size: 0.7rem;
            border: 1px solid var(--bs-border-color);
        }
        &__name {
            width: 64.5%;
        }
        &__value {
            width: 35.5%;
        }
    }
}
