:root {
    --primary-light: #8abdff;
    --primary: #309bbf;
    --primary-dark: #5b0eeb;

    --white: #ffffff;
    --greyLight-1: #eff3f8;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyLight-4: #f7f9fc;
    --greyDark: #9baacf;
}

$shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
$inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
