.app__header {
    margin-top: 10px;
    .nav-tabs {
        display: flex;
        justify-content: start;
        flex-wrap: nowrap;
        .nav-link {
            font-size: 12px;
        }
    }
}
